<h1>Listing trades</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<h3><%= @trades.count %> total trades </h3>
<% @trades.each do |trade| %>
  <tr>
    <td><%= link_to 'Show', trade %></td>
    <td><%= link_to 'Edit', edit_trade_path(trade) %></td>
    <td><%= link_to 'Destroy', trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trade', new_trade_path %>
